:root {
  --color-primary-violet: hsl(257, 40%, 49%);
  --color-primary-soft-magenta: hsl(300, 69%, 71%);
  --color-primary-not-so-soft-magenta: hsl(300, 69%, 55%);
}

$bp-large: 75em; //bp at 1200px
$bp-medium: 56.25em; //bp at 900px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 55%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 4em;
  background-image: url("../img/bg-desktop.svg");
  background-size: cover;
  background-color: var(--color-primary-violet);
  background-position: center;

  @media only screen and (max-width: $bp-medium) {
    background-image: url(../img/bg-mobile.svg);
    justify-content: flex-start;
    align-items: flex-start;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
}

a {
  text-decoration: none;
}
